@import "./abstract/variables";

@import "./components/header";

@import "./components/main";

@import "./components/sanjuan";

@import "./components/buenosaires";

@import "./components/santafe";

@import "./components/mendoza";

@import "./components/footer";

@import"./components/jujuy";

@import"./components/corrientes";

@import"./components/tucuman";

@import"./components/chaco";

@import"./components/cordoba";

@import"./components/salta";

@import"./components/santafe";

@import"./components/entrerios";

@import"./components/rionegro";

@import"./components/misiones";

@import"./components/santiagodelestero";

@import"./components/avellaneda";

@import"./components/villagessel";






* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    
  
 
    
}

