#card-bsas {
   display: flex;
   width: 100%;
   padding: 2em;
   flex-wrap: wrap;
   gap: 1em;
   align-items: center;
   justify-content: center;
   
  
   

}


.card-loc {
    padding: 1em;
   background-color: map-get($color, primary );;

    width: fit-content;
    
}