
/*header*/

.header-fixed-index{
    


.navbar {
    background: map-get($color, nav );
    display: flex;
    flex-direction: row;
    
    
    .navbar-brand {
        width: 8em;
        transition: all 1s;
        &:hover { 
            width: 9em; 
        } }
    
    .navbar-collapse{
        justify-content: end;
        margin-right: 1.5em;
        .navbar-nav{
            
            .nav-item {
                transition: all 1s;
                
                

                &:hover {
                    font-size: 1.2rem;
                }
                    a {
                        
                        
                    &:visited {
                        text-decoration: none;
                        color: black;
                    }
                }
        }
    }

    .dropdown-menu {
        background-color: map-get($color, secondary );
        text-align: center;
        
    }
}    }
    



    }

    @media  (max-width: 990px) {
        .navbar-collapse {
          padding: 1em;
          .nav-item {
              width: 100%;
              border-bottom: 3px solid white;
              &:hover {
                  background: white;
              }
          }
        }
    } 
    /*header*/
            
           
        
    
      /*portada*/


    .portada-provincia {
        padding: 2em;
        display: flex;
        flex-direction: column;
    
       
        .img-portada{
            
            width: 100%;
           
        }
       
        .p-provincia {
            font-size: 1.5rem;
            display: flex;
            margin-top: 0.5em;
            flex-direction: column;
            align-items: flex-end;
            padding: 0.7em;
          
            color: white;
            background-color: map-get($color, primary );
        }
    
    }


  /*portada*/


    /*fecha*/

    .fecha-exp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        background-color: map-get($color, nav );
        width: 100%;
        padding: 2em;
        .fecha-eexp{
            font-size: 0.8rem;
        }
        .ciudad {
            color: map-get($color, secondary );
            font-family: 'League Gothic', sans-serif;
            font-size: 4rem;
            
        }
    }

        /*fecha*/

        //titulo y parrafo

        .titulo-parrafo{
            padding: 1em;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .texto-con-titulo{
                text-justify: newspaper;
                text-align: justify;
            }
        }
        @media  (min-width: 800px) {
            .texto-con-titulo {
                width: 50%;

            }}
        /*nota*/

    .title-nota {
        width: 75%;
        padding: 1.5em;
        margin-left: 1.1em;
        display: flex;
        justify-content: center;
        
    }

    .nota-doble {
        padding-top: 1.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .columna {
            display: block;
            padding: 0.5em;
            width: 40%;
            text-align: justify;
            text-justify: newspaper;
            flex-wrap: wrap;
        }
        .bajada {
            margin-top: 1em;
            width: 100%;
            text-align: justify;
            text-justify: newspaper;
            padding: 0.5em;
        }
        .titulo {
            padding: 2em;
        }
    }
  
    .carousel{
        display: flex;
        
        max-width: 75em;
        
    }

    .carousel-inner img {       
        display:block;
        height: auto; 
        max-width: 100%;
     }


     //btn

     button {
       
        position: relative;
        display: inline-block;
        margin: 15px;
        padding: 10px 22px;
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        color: map-get($color, primary );
        background: transparent;
        cursor: pointer;
        transition: ease-out 0.5s;
        border: 2px solid map-get($color, primary );
        border-radius: 10px;
        box-shadow: inset 0 0 0 0 map-get($color, primary );
        margin-left: 1.5em;
      }
      
      button:hover {
        color: white;
        box-shadow: inset 0 -100px 0 0 map-get($color, primary );
      }
      
      button:active {
        transform: scale(0.9);
      }


      .modal-img{
          width: 100%;
      }



   //btn

