.img-nota{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em;
    
    
    .imagen-nota {
        padding: 1em;
        width: 25%;
        width: 30em;
        min-width: 300px;
        
    }
    .imagen-nota-dos{
        max-width: 100%;
        
        

    }
    .info-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1em;
        text-justify:newspaper;
        
       
        
       
    }
    }